$color-neutral: #fefae0;
$color-dark-green: #283618;
$color-light-green: #606c38;
$color-dark-orange: #bc6c25;
$color-light-orange: #dda15e;
$color-hover-green: #8ea934;

$font-logo: MuseoModerno;
$font-lg: Montserrat;
$font-md-sm: Hind;

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
// NAVBAR
header {
  background-color: $color-neutral;
  border-bottom: 4px solid rgba($color: #000000, $alpha: 0.25);
  position: sticky;
  top: 0;
  right: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
}

h1 {
  display: inline;
  color: $color-dark-green;
  font-family: $font-logo;
  font-weight: 900;
  font-size: 3rem;
  padding: 0.8em 0;
}

nav a {
  color: $color-light-orange;
  font-family: $font-md-sm;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}
nav a:hover {
  color: $color-hover-green;
}

.coming-soon {
  visibility: hidden;
}

// TOP SECTION
#top {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-content {
  padding: 7% 12.5% 1.5%;
  display: flex;
  flex-direction: column;
}
.top-text {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: $color-dark-green;
}
.left {
  width: 40%;
}
h2 {
  font-family: $font-lg;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
.name-emphasis {
  font-weight: bold;
  display: inline;
}
.left p {
  font-family: $font-md-sm;
  font-size: 1.1rem;
  padding-top: 1rem;
  line-height: 2rem;
}
h3 {
  font-family: $font-lg;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 3rem;
}
.right p {
  font-family: $font-md-sm;
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.step {
  display: flex;
  align-items: center;
  padding-bottom: 2.5rem;
}
.right i {
  font-size: 2.5rem;
  width: 8rem;
}
.top-cta-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-lg;
  color: $color-dark-orange;
}
.top-cta-button p {
  font-size: 2rem;
  font-weight: bold;
}
.top-cta-button a {
  font-size: 4.5rem;
  color: $color-dark-orange;
}

// CTA SECTION
#cta {
  display: flex;
  background-color: $color-neutral;
  justify-content: space-between;
  align-items: center;
  padding: 5% 18%;
}
.speaker,
.researcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: $color-light-green;
  font-family: $font-md-sm;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  height: 7rem;
  width: 35%;
}
button {
  color: $color-neutral;
  background-color: $color-light-green;
  font-size: 1.1rem;
  line-height: 1.7rem;
  //   padding: 0 1.1rem;
  margin-top: 1.1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  height: 8rem;
  width: 85%;
}
