.main {
  padding: 3rem 0 0;
  font-family: Montserrat, sans-serif;
  background-color: #fefae0;
  min-height: 110vh;
}

.container {
  box-shadow: 0 -3px 3px #aaa;
  width: 80%;
  margin: 0 auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.about_us,
.what_we_do {
  color: #283618;
  position: relative;
}

.what_we_do {
  padding-bottom: 4rem;
}

.about_us svg,
.what_we_do svg {
  position: absolute;
}

.content_wrapper {
  text-align: center;
  width: 54%;
  padding: 4rem 0 0;
  margin: 0 auto;
}

.content_wrapper h1 {
  font-size: 2.5rem;
  font-family: Montserrat;
  font-weight: 600;
  color: #283618;
  padding-bottom: 3rem;
}

.content_wrapper p {
  font-size: 1.25rem;
  font-family: Hind;
  line-height: 2rem;
  font-weight: 400;
  color: #283618;
}

.content_wrapper h1 + p {
  font-weight: 700;
}

.stats {
  padding: 1.8rem 0 2.5rem;
}

.stats p {
  font-size: 2rem;
  font-family: Montserrat;
  line-height: 2.5rem;
}

.stats p span {
  font-weight: 700;
}

.blurb {
  padding-bottom: 2rem;
}

.globe {
  top: 8rem;
  left: 6.5em;
}

.translate {
  top: 9rem;
  right: 3.5em;
}
.our_team{
    align-content: center;
}

.row{
    display: flex;
    flex-direction: row;
   justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}

.avatar {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.avatar1{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.name{
    padding: 1% 1% 1% 1%;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2px;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    color: #000000;
    width: 30%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.pics {
    width: 30%;
    justify-content: center;
    max-height:150px;
    height: auto;
    padding-left: 2%;
    padding-right:2%;
}
.title{
    height: 15px;
    padding: 1% 1% 1% 1%;
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 2px;
    text-align: center;
    text-transform: capitalize;
    text-overflow:ellipsis;
    width: 30%;
}
/*
.profile_img2{
    margin-left: 547px;
    margin-right: 548px;
    height: 114px;
    width: 145px;
    left: calc(50% - 145px/2 + 15.5px);
    top: 974px;

    /* left: calc(50% - 145px/2 + 15.5px);
} */

/* Clear floats after image containers */
