.main {
    padding: 3rem 0 4rem;
    font-family: Montserrat, sans-serif;
    background-color: #fefae0;
    min-height: 100vh;

}

.main h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #283618;
}

.main p {
    text-align: center;
    padding-bottom: 2rem;
}


.container {
    text-align: center;
}

.container h4{
    text-align: center;
    margin-bottom: 1%;
}

.container input {
    font-size: 2rem;
    margin-bottom: 2%;
}

.main div {
    padding-bottom: 2%;
    text-align: center;
}

.sidebyside {
    display:flex;


}

.sidebyside-child {
    flex: 1;
    align-content: center;
}


.main button[type=submit]{
    font-family: Montserrat;
    font-size: 2rem;
}
.main h4 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1%;
}
.main h3 {
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1%;
}

.main input[type=text]{
    padding: 15px 15px;
    margin: 2px 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 2rem;
    text-align: left;
    width : 50%;
}

.main textarea{
    font-family: Montserrat;
    font-size: 2rem;
    width : 6s0%;
}

.main select{
    font-family: Montserrat;
    font-size: 2rem;
    width : 6s0%;
}