.main {
    padding: 3rem 0 4rem;
    font-family: Montserrat, sans-serif;
    background-color: #fefae0;
    min-height: 100vh;
}

.main h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #283618;
}

.main p {
    text-align: center;
    padding-bottom: 2rem;
}


.container {
    text-align: center;

}

.container h4{
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 10%;
    padding-top: 1%;
}

.container input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

.main div {
    padding-bottom: 2%;
    text-align: center;
}

.main h4 {
    font-size: 16px;
    font: Montserrat;
    font-weight: 400;
    padding-bottom: 1rem;
    font-style: normal;
}
.main button {
    font-family: Hindi;
    margin: 8px 0;
    width: 20%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color:#606C38;
    font-size: 1rem;
 }
 .main button:hover {
     cursor:pointer;
     opacity:70%
 }
 .bcontainer {
    text-align: center;
    }
.ls {
    
    text-align:center;
 
}
.ls ul {
    list-style: none;
    }

.ls ul li::before {
    content: "\2022";
    color: #606C38;;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    }
