.main {
  padding: 3rem 0 4rem;
  font-family: Montserrat, sans-serif;
  background-color: #fefae0;
  min-height: 90vh;
  color: #283618;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back_button {
  position: absolute;
  top: 5px;
  left: 80px;
}

.back_button:hover {
  cursor: pointer;
}

.main h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  color: #283618;
  position: relative;
  width: 100%;
}

/* CTA */
.cta {
  text-align: center;
  margin-bottom: 2rem;
}

.cta span {
  text-decoration: underline;
  color: black;
}

.cta span:hover {
  cursor: pointer;
}

/* Contents */
.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

/* Pros */
.ls {
  width: 300px;
  margin-top: 2rem;
  font-weight: 500;
}

.ls p {
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.ls ul {
  list-style: none;
}

.ls li {
  margin: 1rem 0 0 2rem;
}

.ls ul li::before {
  content: "\2022";
  color: #606c38;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

/* Form */
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 33%;
  margin: 0 3rem;
  justify-self: center;
}

.container label {
  align-self: flex-start;
  font-weight: 500;
}

.container input {
  padding: 12px 20px;
  margin: 0.5rem 0 1.5rem;
  border: 1px solid #283618;
  border-radius: 15px;
  width: 100%;
}

.container input[name="confirm_password"] {
  margin-bottom: 0.25rem;
}

.container input:focus {
  outline: none;
}

.check {
  display: flex;
  margin: 1.5rem 0;
  width: 100%;
}

.check input {
  width: 5%;
  margin: 0 1rem 0 0;
}

.main h4 {
  font-size: 16px;
  font: Montserrat;
  font-weight: 400;
  padding-bottom: 1rem;
  font-style: normal;
}

.main button {
  font-family: Hind;
  margin: 8px 0;
  width: 40%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: white;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #606c38;
  font-size: 1rem;
}


.main button:hover {
  cursor: pointer;
  opacity: 70%;
}

/* Image */
.container img {
  width: 300px;
  align-self: flex-start;
  margin-top: 2rem;
}

@media (min-width: 1800px) {
  .back_button {
    left: 20%;
  }
  .main h1 {
    font-size: 2.8rem;
  }
  .cta {
    font-size: 1.4rem;
  }
  .ls {
    font-size: 1.3rem;
  }
  .container label,
  .container input,
  .container button {
    font-size: 1.5rem;
  }
  .check {
    justify-self: flex-start;
    align-items: center;
  }
  .check label {
    font-size: 1.2rem;
  }
  .main button {
    padding: 0.5rem;
  }
}
@media (min-width: 2100px) {
  .back_button {
    left: 25%;
  }
}
@media (min-width: 2300px) {
  .back_button {
    left: 30%;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container form {
    margin: 0 1.5rem;
  }
}

@media (max-width: 1150px) {
  .ls {
    width: 280px;
  }
  .container img {
    width: 280px;
  }
  .ls li {
    margin: 1rem 0 0 1rem;
  }
}

@media (max-width: 1027px) {
  .container form {
    margin: 0 1rem;
  }
  .ls {
    width: 260px;
  }
  .container img {
    width: 260px;
  }
}

@media (max-width: 950px) {
  .container form {
    margin: 0 0.5rem;
  }
  .ls {
    width: 240px;
  }
  .container img {
    width: 240px;
  }
}

@media (max-width: 900px) {
  .ls {
    width: 230px;
  }
  .container img {
    width: 230px;
  }
}

@media (max-width: 900px) {
  .ls {
    width: 220px;
  }
  .container img {
    width: 220px;
  }
}

@media (max-width: 768px) {
  .cta {
    margin-bottom: 0;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .ls {
    width: 300px;
  }
  .ls p {
    margin-bottom: 1rem;
  }
  .ls li {
    margin: 1rem 0 0 2rem;
  }
  .container form {
    width: 100%;
    margin-top: 3rem;
  }
  .container img {
    display: none;
  }
  .ls {
    display: none;
  }
}
@media (max-width: 425px) {
  .container {
    width: 80%;
  }
}
