.main {
    padding: 3rem 0 4rem;
    font-family: Montserrat, sans-serif;
    background-color: #fefae0;
    min-height: 100vh;
}

.main h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: #283618;
}

.main p {
    text-align: center;
    padding-bottom: 2rem;
}


.container {
    text-align: center;
}

.container h4{
    text-align: right;
    margin-bottom: 1%;
}

.container input {
    font-size: 2rem;
    margin-bottom: 2%;
}

.main div {
    padding-bottom: 2%;
    text-align: center;
}

.main h4 {
    text-align: center;
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 600;
    padding-bottom: 3rem;
}
.container button {
    font-family: Hind;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: white;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color:#606C38;
    font-size: 1rem;
 }

