.main {
  padding: 3rem 5rem 4rem;
  font-family: Montserrat, sans-serif;
  background-color: #fefae0;
  min-height: 100vh;
}

.language_name {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.language_name h1 {
  font-weight: 700;
  font-size: 2.5rem;
  padding-left: 3rem;
}

.language_name svg {
  font-size: 3rem;
}

.language_name svg:hover {
  cursor: pointer;
}

.main form {
  text-align: center;
}

.main label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main form div {
  padding: 0.75rem 0.5rem;
  margin: 0 auto 3rem;
  border-radius: 20px;
  border: 1px solid #8ea934;
  background-color: white;
}

.main input {
  width: 90%;
  border: none;
  border-right: 1px solid black;
  margin-right: 1rem;
  font-size: 1rem;
  padding-right: 1rem;
}

.main input:focus {
  outline: none;
}

.main button {
  border: none;
  outline: none;
  background-color: white;
  font-size: 1rem;
}

.main button:focus {
  border: none;
  outline: none;
}

.main button i {
  color: #606c38;
}

.recording {
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.4rem 2rem 1.4rem 1.4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.recording_wrapper {
  width: 100%;
  padding-right: 3rem;
}

.recording_info {
  display: flex;
  justify-content: space-between;
}

.recording_info div {
  display: flex;
  padding-bottom: 1rem;
}

.recording_info h6 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 1rem;
}

.recording_info div p {
  color: #606c38;
  font-size: 0.9rem;
  font-weight: 500;
}

.recording_link {
  color: #606c38;
  font-size: 1rem;
  text-decoration: underline;
}

.recording_link:hover {
  cursor: pointer;
}
