.main {
  padding: 3rem 5rem 4rem;
  font-family: Montserrat, sans-serif;
  background-color: #fefae0;
  min-height: 100vh;
}

.search_container {
  width: 65%;
  margin: 0 auto;
}

.language_name {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.language_name h1 {
  font-weight: 700;
  font-size: 2.5rem;
  padding-left: 3rem;
}

.language_name svg {
  font-size: 3rem;
}

.language_name svg:hover {
  cursor: pointer;
}

.main form {
  text-align: center;
}

.main label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main form div {
  padding: 0.75rem 0.5rem;
  margin: 0 auto 3rem;
  border-radius: 20px;
  border: 1px solid #8ea934;
  background-color: white;
}

.main input {
  width: 90%;
  border: none;
  border-right: 1px solid black;
  margin-right: 1rem;
  font-size: 1rem;
  padding-right: 1rem;
}

.main input:focus {
  outline: none;
}

.recording {
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.4rem 2rem 1.4rem 1.4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.recording_wrapper {
  width: 90%;
}

.recording_wrapper div {
  box-shadow: none;
  padding: 0;
}

.recording_wrapper button {
  color: black;
}

.recording_wrapper div div div:last-child {
  flex: none;
}

.recording_wrapper div div div:first-child div div div:first-child {
  background-color: white;
  border: 4px solid black;
}

.recording_wrapper div div div:first-child div div div:last-child {
  background-color: black;
}

.recording_info {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.recording_info h6 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 1rem;
}

.recording_info p {
  color: #606c38;
  font-size: 0.9rem;
  font-weight: 500;
}

.recording_links {
  text-align: center;
}

.recording_link {
  color: #606c38;
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.recording_link:hover {
  cursor: pointer;
}

.recording_links svg:hover {
  cursor: pointer;
}

.audio_container {
  background-color: white;
  width: 800px;
}
