.main {
  padding: 3rem 0 4rem;
  font-family: Montserrat, sans-serif;
  background-color: #fefae0;
  min-height: 100vh;
}
.main div {
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 3rem;
  color: #283618;
}
.main h3 {
  font-size: 24px;
  font-weight: 500;
  color: #283618;
  margin-bottom: 2rem;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.main input {
  padding: 12px 20px;
  margin: 0.5rem 0 1.5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.main input:focus {
  outline: none;
}
.main textarea {
  padding: 35px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.main button {
  font-family: Hind;
  margin-top: 1.5rem;
  width: 40%;
  align-self: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: white;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #606c38;
  font-size: 1rem;
}
.main button:hover {
  cursor: pointer;
  opacity: 80%;
}
@media (max-width: 1024px) {
  .main form {
    width: 550px;
  }
}
@media (max-width: 768px) {
  .main form {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .main form {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .main form {
    width: 350px;
  }
  .main button {
    width: 55%;
  }
}
@media (max-width: 425px) {
  .main form {
    width: 300px;
  }
}
@media (max-width: 320px) {
  .main form {
    width: 275px;
  }
  .main button {
    width: 55%;
  }
}
