.main {
  padding: 3rem 5rem 4rem;
  font-family: Montserrat, sans-serif;
  background-color: #fefae0;
  position: relative;
  min-height: 100vh;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.top svg:hover {
  cursor: pointer;
}

.top h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #283618;
}

.delete_btn {
  visibility: hidden;
}

.record_btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.record_btns div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record_btns div:first-child,
.record_btns div:last-child {
  justify-content: space-between;
}

.stop_btn {
  display: none;
}

.play_btn,
.finish_btn {
  opacity: 0.5;
}

.record_btns svg:hover {
  cursor: pointer;
}

.record_label {
  font-size: 1.2rem;
  margin-top: 2.5rem;
  font-family: Hind;
}

.rec_txt {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: Hind;
}

.rec_txt:hover {
  cursor: pointer;
}

.time {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 2.1rem;
  font-family: Hind;
  position: relative;
}

.time svg {
  position: absolute;
  top: -5px;
  left: -18px;
}

.time svg circle {
  fill: #acacac;
}

.directions {
  background-color: #fefae0;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem 2.5rem;
  margin: 2rem auto 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.2rem;
  width: 70%;
  font-family: Hind;
}

.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 70, 70, 0.3);
  visibility: hidden;
}

.modal {
  background-color: white;
  height: 50vh;
  width: 40vw;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.modal h2 {
  padding-bottom: 3rem;
  font-size: 1.65rem;
  font-weight: 600;
}

.modal button {
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  background-color: #cddaa1;
  margin-bottom: 1.25rem;
  width: 60%;
}

.modal button:last-child {
  background-color: #606c38;
  color: white;
  margin-bottom: 0;
}

.modal button:hover {
  cursor: pointer;
}

.modal button:focus {
  outline: none;
}
